<div class="hint-box">
    <h3 class="hint-box__headline">
        HintBoxWidget
    </h3>

    <div class="hint-box__text">
        Dies ist eine einfache HintBox, die ohne Einstellungen als Test dient.
    </div>
</div>
